<div class="text-center cover-container d-flex p-3 mx-auto flex-column justify-content-center">
  <main class="px-3">
    <h1>Simple OAuth2 Client</h1>
    <p class="lead">Select flow bellow</p>
    <p class="lead">
      <%= link_to(
        'authorization_code_grant',
        authorization_code_grant_url,
        class: "btn btn-lg btn-light fw-bold border-white bg-white"
      ) %>
    </p>
  </main>
</div>
